<div class="container">

    <mat-form-field class="input">
        <input matInput placeholder="Search a book by name or author" [formControl]="searchBooksCtrl">
        <mat-error *ngIf="searchBooksCtrl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    
    <button *ngIf="!searchBooksCtrl.invalid" mat-button (click)="submit(searchBooksCtrl.value)">Submit</button>
    <br>
    <mat-spinner *ngIf="isLaoding" class="spinner"></mat-spinner>
    <div *ngIf="isRespond" class="cardContainer">
        <mat-card *ngFor="let book of (searchResults$|async).searchResults" class="bookCard">

           <div class="bookPicWrapper">   <img src="{{book.imageUrl}}" class="bookPic"></div>
            <mat-card-title>{{book.title}}</mat-card-title>
            <p>Author/s: {{book.authors}}</p>
            <mat-card-subtitle>Publisher: {{book.publisher}}</mat-card-subtitle>
            <mat-card-content>Description: {{book.description}}</mat-card-content>
            <mat-card-actions><button mat-button (click)=addToWishlist(book)>Add to wishlist</button></mat-card-actions>

        </mat-card>
    </div>
</div>